.bloc {
  position: relative;
  padding-top: 25rem;
  .history {
    background-color: #263640;
    box-shadow: -45px 70px 0px $shodow;
    display: flex;
    max-width: 75%;
    padding: 6rem 0 6rem 10rem;
    &__about * {
      max-width: 47rem;
      margin: 3rem 0 3rem 0;
      color: $wh;
    }

    &__text {
      max-width: 38rem;
    }
    &__line {
      width: 95%;
      &:after {
        display: block;
        content: "";
        background-color: $wh;
        height: 1px;
        opacity: 0.2;
      }
    }

    &__icon {
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }
}
