//button bacground orage
.button {
  position: relative;
  padding: 0.5em 2.5em 0.5em 1em;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 0;
  color: white;
  background: $color-button;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.4s ease-in-out;

  &:hover {
    background: #555;
  }

  &:active {
    background: #222;
  }

  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 4.5px);
    right: 15px;
    width: 14px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    position: absolute;
    top: calc(50% + 4.5px);
    right: 15px;
    width: 14px;
    height: 2px;
    background: white;
    transform: rotate(-45deg);
  }
}

// about__button
.about__button {
  position: relative;
  padding: 0 40px 0 0;
  font-family: inherit;
  font-size: 16px;
  border-radius: 0;
  text-decoration: none;
  color: $color-button;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.4s ease-in-out;

  &:hover {
    color: #555;
  }

  &:active {
    color: #222;
  }

  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 4.5px);
    right: 15px;
    width: 14px;
    height: 2px;
    background: $color-button;
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    position: absolute;
    top: calc(50% + 4.5px);
    right: 15px;
    width: 14px;
    height: 2px;
    background: $color-button;
    transform: rotate(-45deg);
  }
}

.history__button {
  position: relative;
  padding: 0 40px 0 0;
  font-family: inherit;
  font-size: 16px;
  border-radius: 0;
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.4s ease-in-out;

  &:hover {
    color: #555;
  }

  &:active {
    color: #222;
  }

  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 4.5px);
    right: 15px;
    width: 14px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    position: absolute;
    top: calc(50% + 4.5px);
    right: 15px;
    width: 14px;
    height: 2px;
    background: white;
    transform: rotate(-45deg);
  }
}

a {
  text-decoration: none;
  outline: none;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 0;
  color: white;
}