.addition {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
  &__text {
    padding: 2rem 0 2rem 0;
  }
}
.about {
  @include flex-s-b;
  &__column * {
    max-width: 31.2rem;
    margin-top: 2rem;
  }
}
