@media (min-width: 320px) and (max-width: 1024px) {
  .container {
    margin: 1.5rem !important;
  }

  .nav__body {
    padding: 0 !important;
    // .header__nav {
    //   display: none !important;
    // }
    // .menu-btn {
    //   display: block !important;
    //   margin: 1rem 1.5rem 0 0;
    // }
    // .button--mail {
    //   display: none !important;
    // }
  }

  .hero {
    padding-top: 2rem !important;

    &__content {
      flex-wrap: wrap !important;
      @include flex-c-c;

      .invitation {
        &__name {
          padding-top: 1rem !important;
        }

        &__title {
          padding-top: 1rem !important;
        }

        &__text {
          padding-top: 1rem !important;
          width: 100% !important;
        }

        &__button {
          justify-content: center;
          max-width: 100% !important;
          height: auto;
          padding: 1rem 0 2rem 0 !important;
        }
      }
    }

    &__building {
      width: 100% !important;
      box-shadow: none !important;
    }
  }

  .addition {
    @include flex-c-c;
    display: contents;
    margin-bottom: 2rem !important; 
  }

  .about {
    flex-wrap: wrap;
    @include flex-c-c;
  }

  .bloc {
    padding-top: 2rem !important;

    .history {
      padding: 0 !important;
      display: flex !important;
      @include flex-c-c;
      max-width: 100% !important;
      box-shadow: none !important;

      &__icon {
        display: none;
      }
    }
  }

  .articles * {
    @include flex-c-c;
  }

  .footer * {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    flex-wrap: wrap;
    @include flex-c-c;
  }
}