// text style
@mixin text-s(
  $famili: Arial,
  $size: 1.4rem,
  $weight: bold,
  $color: #c4c4c4,
  $lin-hei: 28px
) {
  font-family: $famili;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $lin-hei;
}

@mixin text-m(
  $famili: "Cairo",
  $size: 1.6rem,
  $weight: bold,
  $color: #c4c4c4,
  $lin-hei: 28px
) {
  font-family: $famili;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $lin-hei;
}

@mixin text-l(
  $famili: Arial,
  $size: 2rem,
  $weight: bold,
  $color: black,
  $lin-hei: 1.5
) {
  font-family: $famili;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $lin-hei;
}

@mixin text-xl(
  $famili: Arial,
  $size: 2.4rem,
  $weight: bold,
  $color: black,
  $lin-hei: 1.5
) {
  font-family: $famili;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $lin-hei;
}

@mixin text-xxl(
  $famili: Arial,
  $size: 3.2rem,
  $weight: bold,
  $color: black,
  $lin-hei: 45px
) {
  font-family: $famili;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $lin-hei;
}
// flex
@mixin flex-s-b {
  display: flex;
  justify-content: space-between;
}
@mixin flex-c-c {
  text-align: center !important;
  justify-content: center !important;
}
