$text-s: Arial 1.4rem bold #C4C4C4 2.8rem;
$text-m: Arial 1.6rem bold #929A9F 2.8rem;
$text-l: Arial 2rem bold black 1.5;
$text-xl: Arial 2.4rem bold black 1.5;
$text-xxl: Arial 3.2rem bold black 4.5rem;
$color-button: orange;
$wh: white;
$shodow: #e2e9ee;
